 body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
}


form {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}

.mb-4{
    margin-left: auto;
    margin-right: auto;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2f32ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

